.lecturer {
  background-color: #fcfcfc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.lecturer .frame-wrapper {
  background-color: var(--primarybase);
  overflow: hidden;
  width: 100%;
}

.lecturer .frame {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 80px;
  display: flex;
  position: relative;
}

.lecturer .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 72px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary-800);
}

.lecturer .logo-polar-crop {
  position: relative;
  width: 117px;
  height: 66px;
  object-fit: cover;
}

.lecturer .menu {
  display: flex;
  width: 891px;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  position: relative;
}

.lecturer .menu-item {
  display: inline-flex;
  gap: 8px;
  padding: 12px 8px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.lecturer .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--button-m-font-family);
  font-weight: var(--button-m-font-weight);
  color: var(--textwhite);
  font-size: var(--button-m-font-size);
  letter-spacing: var(--button-m-letter-spacing);
  line-height: var(--button-m-line-height);
  white-space: nowrap;
  font-style: var(--button-m-font-style);
}

.lecturer .div {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 12px 8px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--primary-950);
  border-radius: 50px;
}

.lecturer .frame-2 {
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.lecturer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.lecturer .div-wrapper {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.lecturer .heading-wrapper {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.lecturer .heading {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--heading-2-font-family);
  font-weight: var(--heading-2-font-weight);
  color: var(--textblack);
  font-size: var(--heading-2-font-size);
  text-align: center;
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  white-space: nowrap;
  font-style: var(--heading-2-font-style);
}

.lecturer .paragraph-wrapper {
  max-width: 1274px;
  margin: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.lecturer .paragraph {
  position: relative;
  width: 100%;
  max-width: 545.75px;
  margin-top: -1.00px;
  font-family: var(--body-m-font-family);
  font-weight: var(--body-m-font-weight);
  color: var(--neutral-colorstext-gray);
  font-size: var(--body-m-font-size);
  text-align: center;
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  font-style: var(--body-m-font-style);
}

.lecturer .frame-3 {
  flex-direction: column;
  height: 1087px;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  display: flex;
  position: relative;
}

.lecturer .members {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 72px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.lecturer .div-2 {
  display: flex;
  flex-direction: column;
  width: 211px;
  align-items: center;
  gap: 11px;
  padding: 0px 19px;
  position: relative;
}

.lecturer .blank-profile {
  position: relative;
  width: 68px;
  height: 68px;
  object-fit: cover;
}

.lecturer .member-name {
  font-family: var(--heading-5-font-family);
  font-weight: var(--heading-5-font-weight);
  color: var(--textblack);
  font-size: var(--heading-5-font-size);
  line-height: var(--heading-5-line-height);
  position: relative;
  align-self: stretch;
  text-align: center;
  letter-spacing: var(--heading-5-letter-spacing);
  font-style: var(--heading-5-font-style);
}

.lecturer .member-title {
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: var(--text-200);
  font-size: 14px;
  line-height: 19.6px;
  position: relative;
  align-self: stretch;
  text-align: center;
  letter-spacing: 0;
}

.lecturer .image-placeholder {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/image-placeholder.png);
  background-size: cover;
  background-position: 50% 50%;
}


.lecturer .image-placeholder-20 {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/blank-profile-2-23.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lecturer .image-placeholder-21 {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/blank-profile-2-20.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lecturer .image-placeholder-22 {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/blank-profile-2-8.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lecturer .image-placeholder-23 {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/blank-profile-2-22.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lecturer .image-placeholder-24 {
  position: relative;
  width: 68px;
  height: 68px;
  background-image: url(./img/blank-profile-2-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.lecturer .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 24px 72px 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--primary-800);
}

.lecturer .top {
  display: flex;
  align-items: center;
  gap: 48px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.lecturer .logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lecturer .menu-2 {
  display: inline-flex;
  justify-content: flex-end;
  gap: 16px;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.lecturer .social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.lecturer .icon {
  position: relative;
  width: 19.2px;
  height: 14.4px;
}

.lecturer .icon-jam-icons {
  position: relative;
  width: 24px;
  height: 24px;
}

.lecturer .p {
  position: relative;
  align-self: stretch;
  font-family: var(--body-s-font-family);
  font-weight: var(--body-s-font-weight);
  color: var(--textwhite);
  font-size: var(--body-s-font-size);
  text-align: center;
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
  font-style: var(--body-s-font-style);
}