:root {
  --black-content: rgba(221, 225, 230, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --textblack: rgba(0, 0, 0, 1);
  --text-200: rgba(176, 176, 176, 1);
  --text-800: rgba(50, 67, 157, 1);
  --primary-950: rgba(31, 38, 76, 1);
  --primary-800: rgba(50, 67, 157, 1);
  --primary-200: rgba(199, 216, 246, 1);
  --primarybase: rgba(252, 252, 252, 1);
  --primary-50: rgba(241, 245, 253, 1);
  --orange-500: rgba(218, 102, 87, 1);
  --green-700: rgba(14, 118, 95, 1);
  --green-100: rgba(212, 247, 231, 1);
  --bahama-blue700: rgba(26, 101, 143, 1);
  --neutral-colorswhite: rgba(255, 255, 255, 1);
  --neutral-colorscolor-600: rgba(212, 210, 227, 1);
  --heading-1-font-family: "Roboto", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 54px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 110.00000238418579%;
  --heading-1-font-style: normal;
  --heading-2-font-family: "Roboto", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 42px;
  --heading-2-letter-spacing: 0px;
  --heading-2-line-height: 110.00000238418579%;
  --heading-2-font-style: normal;
  --heading-3-font-family: "Roboto", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 32px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 110.00000238418579%;
  --heading-3-font-style: normal;
  --heading-4-font-family: "Roboto", Helvetica;
  --heading-4-font-weight: 700;
  --heading-4-font-size: 24px;
  --heading-4-letter-spacing: 0px;
  --heading-4-line-height: 110.00000238418579%;
  --heading-4-font-style: normal;
  --heading-5-font-family: "Roboto", Helvetica;
  --heading-5-font-weight: 700;
  --heading-5-font-size: 20px;
  --heading-5-letter-spacing: 0px;
  --heading-5-line-height: 110.00000238418579%;
  --heading-5-font-style: normal;
  --heading-6-font-family: "Roboto", Helvetica;
  --heading-6-font-weight: 700;
  --heading-6-font-size: 18px;
  --heading-6-letter-spacing: 0px;
  --heading-6-line-height: 110.00000238418579%;
  --heading-6-font-style: normal;
  --button-l-font-family: "Roboto", Helvetica;
  --button-l-font-weight: 500;
  --button-l-font-size: 20px;
  --button-l-letter-spacing: 0.5px;
  --button-l-line-height: 100%;
  --button-l-font-style: normal;
  --button-m-font-family: "Roboto", Helvetica;
  --button-m-font-weight: 500;
  --button-m-font-size: 16px;
  --button-m-letter-spacing: 0.5px;
  --button-m-line-height: 100%;
  --button-m-font-style: normal;
  --button-s-font-family: "Roboto", Helvetica;
  --button-s-font-weight: 500;
  --button-s-font-size: 14px;
  --button-s-letter-spacing: 0.5px;
  --button-s-line-height: 100%;
  --button-s-font-style: normal;
  --body-l-font-family: "Roboto", Helvetica;
  --body-l-font-weight: 400;
  --body-l-font-size: 18px;
  --body-l-letter-spacing: 0px;
  --body-l-line-height: 139.9999976158142%;
  --body-l-font-style: normal;
  --body-m-font-family: "Roboto", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 139.9999976158142%;
  --body-m-font-style: normal;
  --body-s-font-family: "Roboto", Helvetica;
  --body-s-font-weight: 400;
  --body-s-font-size: 14px;
  --body-s-letter-spacing: 0px;
  --body-s-line-height: 139.9999976158142%;
  --body-s-font-style: normal;
  --body-XS-font-family: "Roboto", Helvetica;
  --body-XS-font-weight: 400;
  --body-XS-font-size: 12px;
  --body-XS-letter-spacing: 0px;
  --body-XS-line-height: 139.9999976158142%;
  --body-XS-font-style: normal;
  --body-XXS-font-family: "Roboto", Helvetica;
  --body-XXS-font-weight: 400;
  --body-XXS-font-size: 10px;
  --body-XXS-letter-spacing: 0px;
  --body-XXS-line-height: 139.9999976158142%;
  --body-XXS-font-style: normal;
  --other-caption-font-family: "Roboto", Helvetica;
  --other-caption-font-weight: 700;
  --other-caption-font-size: 20px;
  --other-caption-letter-spacing: 1px;
  --other-caption-line-height: 100%;
  --other-caption-font-style: normal;
  --other-menu-m-font-family: "Roboto", Helvetica;
  --other-menu-m-font-weight: 500;
  --other-menu-m-font-size: 16px;
  --other-menu-m-letter-spacing: 0px;
  --other-menu-m-line-height: 100%;
  --other-menu-m-font-style: normal;
}